.main_navbar{
    font-size: 25px;
    color: #e6cff1;
}
.active{
    color: #fff;
}

.main_navbar ul{
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

}
.dropdown-menu.show{
    display: flex;
    flex-flow: row;
}
.main_navbar ul li{
    cursor: pointer;
    padding: 0.5rem;
    font-weight: 100;
    text-align: center;
    font-size: 27px;
    transition: all 0.3s ease-out;
}

.main_navbar ul li:hover{
    color: #fff;
    transition: all 0.3s ease;
}
.main_navbar ul li:focus{
    outline: none;
}

.products_collections ul{
    list-style-type: none;
    font-size: 17px;
    color: #9846bf;
    display: flex;
    background: #fff;
    padding-bottom: 15px;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
/* .hidden{
    margin-top: -130px;
    opacity: 0;
    transition: margin-top 0.5s ease-out;
    transition: opacity 1s ease-out;
}
.show{
    opacity: 1;
    margin-top: 0px;
    transition: margin-top 0.3s ease-in;
    transition: opacity 0.5s ease-in;
} */
.products_collections {
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.products_collections ul li{
    cursor: pointer;
    padding: 0.5rem;
}
.products_collections ul li:hover{
    color: #333;
}

.products_collections ul li:after {
    display:block;
    content: '';
    border-bottom: solid 2px #c778ea;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.products_collections ul li:hover:after { transform: scaleX(1); }
.products_collections ul li:after{  transform-origin:  0% 50%; }

@media all and (max-width: 800px) {
    .main_navbar ul {
      justify-content: space-around;
    }
  }
  
@media all and (max-width: 500px) {
    .main_navbar ul {
      flex-direction: column;
    }
  }