<div class="container promoBox">
  <div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-7">
        <div class="card-header">
          <h3 class="mb-0">TYPE YOUR PROMO CODE</h3>
        </div>
        <div class="card-body">
          <form  class="form">
            <div class="form-group">
              <input [(ngModel)]="discountData.promoCode" name="email" type="text" class="form-control rounded-7" required>
            </div>
            <div class="btnBox">
              <button  class="btn btn-primary">CANCEL</button>
              <button (click)="checkDiscount()" style="background: #9ce800; color:#fff" class="btn">GET DISCOUNT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>