<div class="filterItems">
  <ul>
    <li class="mainListElem">Filter By Brand:</li>
    <li class="mainListElem" (click)='showAllBrands()'>show all</li>
    <li #inputElement (click)='filterByBrand(brand, inputElement, productsContainer)' 
       *ngFor="let brand of productUniqeBrands">{{brand}}</li>
  </ul>
</div>
<div #productsContainer class="productsContainer">
  <p>all results by search ({{productsCollection.length}} products): {{keyWord}}</p>
  <div *ngFor="let product of productsCollection" class="singleProduct">
    <div><img src="{{product.image_link}}" alt="{{product.name}}"></div>

    <div class="product_item">{{product.name}}</div>
    <div class="product_item">{{product.brand}}</div>
  </div>
  <div *ngIf="productIsNotFound" class="emptyProduct">
    <p>Product {{productIsNotFound}} was not found</p>
  </div>
</div>
